<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iBot - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <!-- Eval input -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <form action="/login" method="POST">
          <div class="form-group">
            <h4>Eval</h4>
            <label>Code:</label>
            <textarea rows="3" class="form-control" name="code"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-lg" formaction="/admin/eval">Eval code</button>
        </form>
      </div>
    </div>

    <!-- Presence change -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <form action="/login" method="POST">
            <div class="form-group">
              <h4>Presence</h4>
              <hr>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Status</span>
                <input type="text" class="form-control" placeholder="online or idle or dnd or offline" aria-label="status" aria-describedby="basic-addon1">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Game</span>
                <input type="text" class="form-control" placeholder="I am the best bot!" aria-label="game" aria-describedby="basic-addon2">
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" formaction="/admin/presence">Update</button>
          </form>
        </div>
      </div>

    <!-- Footer -->
    <% include parts/footer.ejs %>
  </body>
</html>