<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iBot - Eval</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <% if (status === 'OK') { %>
    <!-- Eval success -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h4>Evaled - no error</h4>
        <hr>
        <pre class="pre-scrollable"><code>
          <%= output %>
        </code></pre>
      </div>
    </div>
    <% } else { %>
    <!-- Eval success -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h4>Evaled - error</h4>
        <hr>
        <pre class="pre-scrollable"><code>
          <%= output %>
        </code></pre>
      </div>
    </div>
    <% } %>

    <!-- Footer -->
    <% include parts/footer.ejs %>
  </body>
</html>