<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iBot - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <!-- Presentation -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style display-1 text-center"><strong>INTRODUCING IBOT</strong></h1>
        <hr>
        <p class="lead text-center">
          iBot is a Discord bot made in Javascript using the discord.js wrapper. Created in April 2017, iBot became an all-in-one bot that is capable of doing various stuff such as moderation and utility!<br>
          It is translated in 3 languages (French, Deutsch, Dutch) at the moment. You can participate to its development on the GitHub repository.
        </p>
      </div>
    </div>

    <!-- Stats (dynamic) -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style display-1 text-center"><strong>STATISTICS</strong></h1>
        <hr>
        <p class="lead text-center">
          <strong><%= client.guilds.size %> servers</strong> • <strong><%= client.users.size %> users</strong><br>
          <strong><%= Object.keys(client.languages).length %> languages</strong> • <strong><%= client.commands.ran %> commands ran</strong>
        </p>
      </div>
    </div>

    <!-- Footer -->
    <% include parts/footer.ejs %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>