<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head.ejs %>
    <title>iBot - Server</title>
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <!-- Server list -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container mx-auto">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style text-center"><strong>Select a Discord server</strong></h1>
        <hr>
        <div class="row text-center mx-auto" style="vertical-align: 50%;">
          <% if (guilds.length === 0) { %><h4>You can't invite iBot anywhere! Please check you are in a server without iBot and with the Manage Server permission.</h4><% } %>
          <% guilds.forEach((g) => { %>
          <div>
            <a href="https://discordapp.com/oauth2/authorize?response_type=code&redirect_uri=http%3A%2F%2Fwww.ibot-discord.cf%3A9024%2Fserver&scope=bot&client_id=305277118105911296&guild_id=<%= g.id %>"><img class="rounded-circle" height="75px" width="75px" src="<%= (g.icon) ? `https://cdn.discordapp.com/icons/${g.id}/${g.icon}.png?size=128` : '/images/discord_server.png' %>" alt="<%= g.name %>'s icon'">
          </div>
          <div class="m-3"></div>
          <% }); %>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <% include parts/footer.ejs %>
  </body>
</html>