<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <p>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <a href="https://github.com/iDroid27210/ibot"><i class="fa fa-github-square fa-3x social"></i></a> • <a href="mailto:biojoutk1106@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
        <br>
        © Copyright 2017 iDroid - All Rights Reserved
      </p>
    </span>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
