    <footer class="footer">
      <div class="container">
        <span class="text-muted text-center">
          <p>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <a href="https://github.com/iDroid27210/ibot"><i class="fa fa-github-square fa-3x social"></i></a> <a href="mailto:biojoutk1106@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
            <br>
            © Copyright 2017 iDroid - All Rights Reserved
          </p>
        </span>
      </div>
    </footer>