<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head.ejs %>
    <title>iBot - Server</title>
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <!-- Server list -->
    <div class="jumbotron jumbotron-fluid h-100">
      <div class="container h-100">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="alert-heading">Just a minute!</h4>
          <p>
            Since Discord now, through the new ToS, force us to explain you what is stored... let's explain you what I am doing.<br><br>

            <strong>Discord :</strong><br>
            • Commands logging: message ID, author ID, channel and guild ID with the message content<br>
            • Guilds join/leave: name, member count, owner, creation date<br>
            • Your server configuration: editable using i:config<br><br>

            <strong>Dashboard :</strong><br>
            • Discord authorization token
          </p>
          <hr>
          <p class="mb-0">If you agree you can continue, just below! Otherwise leave here, I'm sad but it's your choice anyway, bye.</p>
        </div>
      </div>
      <div class="container h-100">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style text-center"><strong>Select a Discord server</strong></h1>
        <hr>
        <div class="row justify-content-center h-100">
          <% if (guilds.length === 0) { %><h4>You can't invite iBot anywhere! Please check you are in a server without iBot and with the Manage Server permission.</h4><% } %>
          <% guilds.forEach((g) => { %>
          <div data-toggle="svr" data-placement="bottom" title="<%= g.name %>">
            <a href="https://discordapp.com/oauth2/authorize?response_type=code&redirect_uri=https%3A%2F%2Fibot.idroid.me%2Fserver&scope=bot&client_id=305277118105911296&guild_id=<%= g.id %>">
              <img class="rounded-circle" height="75px" width="75px" src="<%= (g.icon) ? `https://cdn.discordapp.com/icons/${g.id}/${g.icon}.png?size=128` : '/images/discord_server.png' %>" alt="<%= g.name %>'s icon'">
            </a>
          </div>
          <div class="m-3"></div>
          <% }); %>
        </div>
      </div>
    </div>

    <script>
      $(() => $('[data-toggle="svr"]').tooltip());
    </script>

    <!-- Footer -->
    <% include parts/footer.ejs %>
  </body>
</html>
